{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block head %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="../static/js/particle_background.js"></script>
{% endblock %}

{% block main %}
    <div id="particle">
    </div>
    <div class="container">
        <div class="row" id="title">
            <div class="one column"></div>
            <div class="five columns vertical-line" id="title-text"><h1>SmartVet</h1><br><h3></h3></div>
            <div class="five columns">
                <form action="login">
                    <label for="uname">Username</label>
                    <input type="text" id="uname" name="username" placeholder="Username..">
                    <label for="pword">Password</label>
                    <input type="password" id="pword" name="password" placeholder="Password..">
                    <br></br>
                    <input type="button" value="Login">
                </form>

            </div>
            <div class="one column"></div>
        </div>
    </div>
{% endblock %}

